* {
    margin:0;
    padding:0;
}
/* 복합 선택자 */
/* 1.자손 선택자 = section 안의 모든 ul*/
section ul {
    margin: 50px 0;
}
/* 2.자식 선택자 = section 바로 밑 ul 바로 밑 li(경로) */
section > ul > li {
    font-size: 20px;
    font-weight: bold;
}
/* 3.형제 선택자 = a의 형제 요소 중 a 뒤에 오는 하나의 ul */
a + ul{
    background-color: gold;
}
/* 4.~ = a의 형제 요소 중 a 뒤에 오는 모든 ul */
a ~ ul{
    border: 1px solid gray;
}

/* 속성 선택자 */
/* class라는 속성을 가진 ul의 자손 중 모든 li */
ul[class] li{
    width: 24%;
    height: 50px;
    display: inline-block;
}
a[target="_self"] {
    border: 1px soid darkgrey;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}
img[alt~="ENTP"]{
    box-shadow: 5px 5px 10px black
}
img[alt|="TYPE"]{
    box-shadow: -5px -5px 10px black
}
a[target^="_b"] {
    background-color: blue;
    padding: 10px;
    margin: 30px;
    color: white;
    display: inline-block;
}
a[href$="istj"]{
    background-color: green;
    color: white;
}
ul[class*="type"]{
    text-align: center;
    padding: 35px 0;
}
/* 
    1.[속성="값"]
    2.[속성~="값"] : alt="바다 사진" / [alt~="바다"]
    3.[속성|="값"] : alt="바다-사진" / [alt|="바다"]
    4.[속성^="값"] : alt="apple banana" / [alt^="app"]
    5.[속성$="값"] : href="ssafy.com/istj" / [href$="istj"]
    6.[속성*="값"] : alt="미세먼지싫어" / [alt*="세먼지"]
*/
