div {
    height: 200px;
}

.background-color{
    background-color: blue;
}

.background-image{
    background-image: url(images/img3.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}