.font{
    /* 1. font-size */
    font-size: 30px;
    font-style: italic;
    font-weight: 700; /* bold */
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Libre Franklin','Nanum Pen Script', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    
}
